
@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


/* global styling  */

:root{
    --DarkCyan: hsl(158, 36%, 37%);
    --Cream: hsl(30, 38%, 92%);
    --Very-dark-blue: hsl(212, 21%, 14%);
    --Dark-grayish-blue: hsl(228, 12%, 48%);
    --White: hsl(0, 0%, 100%);
    --monstserrat:"Montserrat", sans-serif;
    --secondaryFont: "Fraunces", serif;
}

*{
    box-sizing: border-box;
    padding:0;
    margin:0;
}

body{
    background:var(--Cream);
    font-family:var( --monstserrat);
    display:flex;
    align-items: center;
    justify-content: center;
    height:100vh;
}


#product-card-design{
    display:flex;
    max-width: 800px;
    width:100%;
}

.img-col{
background:url('./images/image-product-desktop.jpg');
width:100%;
background-position:center;
background-repeat:no-repeat;
background-size:cover;
border-top-left-radius: 5px;
border-bottom-left-radius: 5px;
}

.text-col{
    padding:25px;
    background-color:#fff;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;

}

.category{
    text-transform:uppercase;
    color:var(--Dark-grayish-blue);
    font-size:14px;
    letter-spacing:3px;
    line-height:1.6em;
    font-family:var(--monstserrat);
}
h1.title{
font-size:40px;
line-height:1em;
color:var(--Very-dark-blue);
font-family:var(--secondaryFont);
padding:20px 0;
}

.details{
    color:var(--Dark-grayish-blue);
    font-size:16px;
    line-height:1.6em;
    font-family:var(--monstserrat);
padding-bottom:20px;
}

.product-price{
    display:flex;
    justify-content:flex-start;
    align-items: center;
    gap:20px;
}
.product-price .current-price{
font-size:50px;
font-family:var(--secondaryFont);
color:var(--DarkCyan);
font-weight:bold;

}

.product-price .old-price{
    text-decoration: line-through;
     color:var(--Dark-grayish-blue);
     padding-bottom:20px;
}

button.btn{
    width:100%;
    background:var(--DarkCyan);
    border-radius:5px;
    padding:10px 30px;
    font-size:16px;
    color:var(--White);
    border:none;
    font-family:var( --monstserrat);
    font-weight:600;
    margin-top:40px;
}

@media screen and (max-width:767px) {
#product-card-design{
    flex-direction:column;
    padding:20px;
}
  .img-col{
      width:100%;
          height: 230px;
      background:url('./images/image-product-mobile.jpg');
  }
}

@media (min-width:768px) and (max-width:1023px) {
   /* tab let(ipad)  */
    
}

@media (min-width:1024px) and (max-width:1199px) {
   /* tab let(ipad)  */
   
}




